body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.container{
    height: 500px;
    /*width : 600px;*/
    margin-left: 20%;
    margin-right: 20%;
}
#map {
    width: 95%!important;
    height: 100%;
    border: 1px solid black;
}

#data, #allData{
    display: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.centerText{
    text-align: center;
}

.alignLeft{
    text-align: left;
}
